body    {overflow-y:scroll;}

#div_top_links {
    display:inline;
    padding-inline-start: 0px;
}
#div_top_links ul {
    padding-left: 0px;
}

#ul_top_links li{
    display: inline-block;
    background-color: #15995785;
    font-weight: bold;
    padding: 5pt;
    margin-bottom: 1pt;
    border: 1px solid #159957;
    border-radius: 5%;
}

#ul_headertop_links {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#ul_headertop_links li{
    display: inline-block;
}

#li_top_links a {
    color: #FFFFFF;
}

#ul_top_links .active {
    background-color: #159957;
}

.callout {
    float:left;
    padding-right: 10px; 
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 120px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-content {
    font-size: unset;
}

.main-content table {
    font-size: 0.8rem;
}

.courses-images {
    margin-bottom: 10px; 
    border-radius: 8px;
}

.teachers-images {
    float:left;
    margin-right: 10px; 
    border-radius: 10px;
    height: auto; 
    width: auto; 
    max-width: 180px; 
    max-height: 250px;
}

.page-header {
    background-image: url("../../images/rosecity.jpg");
    background-size: cover;
}

.page-top-header {
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-nav {
    text-align: center;
}
