body    {overflow-y:scroll;}

#div_top_links {
    display:inline;
}
#ul_top_links li{
    display: inline;
    background-color: #15995785;
    font-weight: bold;
    padding: 5pt;
    border: 1px solid #159957;
    border-radius: 5%;
}

#li_top_links a {
    color: #FFFFFF;
}

#ul_top_links .active {
    background-color: #159957;
}

.callout {
    float:left;
    padding-right: 10px; 
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 120px;
}