#div_top_links {
    display:inline;
    background-color: #FFFFFF;
}
#ul_top_links li{
    display: inline;
    background-color: #999999;
    padding: 5pt;
}

#li_top_links a {
    color: #FFFFFF;
}

#ul_top_links .active {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #EEEEEE;
}

.callout {
    float:left;
    padding-right: 10px; 
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 120px;
}